/* ==========================================================================
   Fonts - Web フォントの定義 (ZenOldMincho)
   ========================================================================== */

@font-face {
  font-family: "ZenOldMincho";
  src: url("../../assets/fonts/ZenOldMincho-Light.woff2") format("woff2"),
    url("../../assets/fonts/ZenOldMincho-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZenOldMincho";
  src: url("../../assets/fonts/ZenOldMincho-Regular.woff2") format("woff2"),
    url("../../assets/fonts/ZenOldMincho-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZenOldMincho";
  src: url("../../assets/fonts/ZenOldMincho-Medium.woff2") format("woff2"),
    url("../../assets/fonts/ZenOldMincho-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZenOldMincho";
  src: url("../../assets/fonts/ZenOldMincho-SemiBold.woff2") format("woff2"),
    url("../../assets/fonts/ZenOldMincho-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "ZenOldMincho";
  src: url("../../assets/fonts/ZenOldMincho-Bold.woff2") format("woff2"),
    url("../../assets/fonts/ZenOldMincho-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
