// foundations
@use "foundations/rest";
@use "foundations/variables";
@use "foundations/fonts";
@use "foundations/mixins";

// object (Component, Project, Utility)
@use "object/project/home";

@use "object/utility/bg";
@use "object/utility/respond";
@use "object/utility/text";
@use "object/utility/animation";